.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}
.search-field{
    width: 500px;
    margin: auto;
    display: flex;
}

.input-field{
width: 500px;
height: 50px;
border: none;
background-color: white;
padding: 20px;


}
.input-button{
    height: 50px;
    width: 100px;
    border: none;
}